<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Cart</title>
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      rel="stylesheet"
    />
    <link
      crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
      integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="mt-4">
          <!-- 產品Modal -->
          <product-modal
            :id="productId"
            :prod-qty="productQty"
            @add-cart="addToCart"
            ref="productModal"
          ></product-modal>
          <!-- 產品Modal -->

          <table class="table align-middle">
            <thead>
              <!-- render product list -->
              <tr>
                <th>圖片</th>
                <th>商品名稱</th>
                <th>價格</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr :key="product.id" v-for="product in products">
                <td style="width: 200px">
                  <!-- 背景圖 -->
                  <div
                    :style="{ backgroundImage: `url(${product.imageUrl})` }"
                    style="height: 100px; background-size: cover; background-position: center"
                  ></div>
                </td>
                <td>{{ product.title }}</td>
                <td>
                  <div class="h5" v-if="product.price===product.origin_price">{{ product.price }} 元</div>
                  <div v-else>
                    <del class="h6">原價 {{ product.origin_price }} 元</del>
                    <div class="h5">現在只要 {{ product.price }} 元</div>
                  </div>
                </td>
                <td>
                  <div class="btn-group btn-group-sm">
                    <button @click="openProductModal(product.id)" class="btn btn-outline-secondary" type="button">
                      <!-- only use for openProductModal -->
                      <!-- <i class="fas fa-spinner fa-pulse"></i> -->
                      查看更多
                    </button>
                    <button
                      :disabled="isLoadingItem===product.id"
                      @click="addToCart(product.id)"
                      class="btn btn-outline-danger"
                      type="button"
                    >
                      <div class="spinner-grow spinner-grow-sm" v-show="isLoadingItem===product.id"></div>
                      <!-- <i class="fas fa-spinner fa-pulse"></i> -->
                      加到購物車
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- 購物車列表 -->
          <div class="text-end">
            <button :disabled="cartData.carts <= 1" @click="clearCarts" class="btn btn-outline-danger" type="button">
              清空購物車
            </button>
          </div>

          <!-- {{cartData}} -->
          <table class="table align-middle">
            <thead>
              <tr>
                <th></th>
                <th>品名</th>
                <th style="width: 150px">數量/單位</th>
                <th>單價</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="cartData.carts">
                <tr :key="item.id" v-for="item in cartData.carts">
                  <td>
                    <button @click="removeCartItem(item.id)" class="btn btn-outline-danger btn-sm" type="button">
                      <i class="fas fa-spinner fa-pulse" v-show="isLoadingItem===item.id"></i>
                      x
                    </button>
                  </td>
                  <td>
                    {{ item.product.title }}
                    <div class="text-success">已套用優惠券</div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <div class="input-group mb-3">
                        <!-- 要相信使用者一定會亂填，改用 select -->
                        <!-- <input class="form-control" min="1" type="number" v-model="item.qty" /> -->
                        <select
                          :disabled="isLoadingItem === item.id"
                          @change="updateCartItem(item)"
                          class="form-select"
                          id=""
                          v-model="item.qty"
                        >
                          <!-- 上一個 commit 的做法，qty：當前在購物車的數量，num：迴圈的值，2個值一樣就選這個值，也可以綁在 select 的 tag 上-->
                          <option :key="`${num}${item.id}`" :value="num" v-for="num in 20">{{num}}</option>
                        </select>
                        <span class="input-group-text" id="basic-addon2">{{ item.product.unit }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="text-end">
                    <small class="text-success">折扣價：</small>
                    {{ item.total }} 元
                  </td>
                </tr>
              </template>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-end" colspan="3">總計</td>
                <td class="text-end">{{ cartData.total }}</td>
              </tr>
              <tr>
                <td class="text-end text-success" colspan="3">折扣價</td>
                <td class="text-end text-success">{{ }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="my-5 row justify-content-center">
          <!-- form start -->
          <v-form class="col-md-6" ref="form" v-slot="{ errors }">
            <!-- test error message -->
            <!-- <span style="color: red">{{ errors }}</span> -->
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <v-field
                :class="{ 'is-invalid': errors['email'] }"
                class="form-control"
                id="email"
                name="email"
                placeholder="請輸入 Email"
                rules="email|required"
                type="email"
              ></v-field>
              <error-message class="invalid-feedback" name="email"></error-message>
            </div>

            <div class="mb-3">
              <label class="form-label" for="name">收件人姓名</label>
              <v-field
                :class="{ 'is-invalid': errors['姓名'] }"
                class="form-control"
                id="name"
                name="姓名"
                placeholder="請輸入姓名"
                rules="required"
                type="text"
              ></v-field>
              <error-message class="invalid-feedback" name="姓名"></error-message>
            </div>

            <div class="mb-3">
              <label class="form-label" for="tel">收件人電話</label>
              <v-field
                :class="{ 'is-invalid': errors['電話'] }"
                :rules="isPhone"
                class="form-control"
                id="tel"
                name="電話"
                placeholder="請輸入電話"
                type="tel"
              ></v-field>
              <error-message class="invalid-feedback" name="電話"></error-message>
            </div>

            <div class="mb-3">
              <label class="form-label" for="address">收件人地址</label>
              <v-field
                :class="{ 'is-invalid': errors['地址'] }"
                class="form-control"
                id="address"
                name="地址"
                placeholder="請輸入地址"
                rules="required"
                type="text"
              ></v-field>
              <error-message class="invalid-feedback" name="地址"></error-message>
            </div>

            <div class="mb-3">
              <label class="form-label" for="message">留言</label>
              <textarea class="form-control" cols="30" id="message" rows="10"></textarea>
            </div>
            <div class="text-end">
              <!-- {{Object.keys(errors).length}} -->
              <!-- 逆天可選運算子 -->
              <button
                :class="{'disabled': this.cartData.carts?.length === 0 || Object.keys(errors).length !==0 }"
                class="btn btn-danger"
                type="submit"
              >
                送出訂單
              </button>
            </div>
          </v-form>
          <!-- form end -->
        </div>
      </div>
    </div>
    <!-- user ProductModal start -->
    <script id="userProductModal" type="text/x-template">
      <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modal">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 class="modal-title" id="exampleModalLabel">
                <span>{{ product.title }}</span>
            </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-fluid" :src="product.imageUrl" alt="">
            </div>
                <div class="col-sm-6">
                  <span class="badge bg-primary rounded-pill">{{  }}</span>
                  <p>商品描述：{{ product.description }}</p>
                  <p>商品內容：{{ product.content }}</p>
                  <div class="h5" v-if="product.price===product.origin_price">{{ product.price }} 元</div>
                  <div v-else>
                    <del class="h6">原價 {{ product.origin_price }} 元</del>
                    <div class="h5">現在只要 {{ product.price }} 元</div>
                  </div>
                  <div>
                    <div class="input-group">
                      <input type="number" class="form-control" min="1" v-model="qty">
                      <button type="button" class="btn btn-primary" @click="addToCart">加入購物車</button>
            </div>
            </div>
            </div>
                <!-- col-sm-6 end -->
            </div>
            </div>
            </div>
            </div>
            </div>
    </script>
    <!-- user ProductModal end -->
    <!-- JavaScript Bundle with Popper -->
    <script
      crossorigin="anonymous"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=="
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"
    ></script>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script> -->
    <script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.3.6/vee-validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.3.6/dist/vee-validate-rules.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.3.6/dist/vee-validate-i18n.min.js"></script>
    <script src="./js/cart.js" type="module"></script>
  </body>
</html>
